# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
ENV/

# OS and IDE configuration files
.vscode/
.DS_Store
Thumbs.db

# Private security credentials for Firebase database
*credentials*.json
